{% load static %}
{% load socialaccount %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'application/css/login.css' %}">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Document</title>
</head>
<body>
    <div class="whole">
  
    <div class="login-div">
        <div class="title">Signin</div>
        
       
        <div class="fields">
         
          <div class="email"><input type="email" class="email-input" placeholder="email" /></div>
          <div class="password"><input type="password" class="pass-input" placeholder="password" /></div>
        </div>
        <button class="signup-button">Login</button>
        <div class="link">
            <a href="#">Forgot Password</a> or <a href="register"> Register</a>
          </div>
          <br>
        <div class="methods">
            or Login using
        </div>
        <br>
      
        <button class="gmail-button">  <a href="{% provider_login_url 'google' %}"style="color:inherit">  <i class="fab fa-google-plus-g fa-2x"></i></a></button>
        <br>
        <button class="facebook-button"><a href="#"style="color:inherit">  <i class="fab fa-facebook-f fa-2x"></i></a></button>
        <br>
       
      </div>
      </div>

    
</body>
</html>